body {
	font-family: Roboto, Helvetica, Arial;
	padding:0px;
	margin:0px;
	text-align:center;
	padding-bottom:100px;
}

h2 {
	font-family: Roboto, Arial;
	color:#000;
	font-size:40px;
	font-weight:bold;
}

span.label {
	font-size:28px;
	font-family:Roboto, Arial;
	color:#000;
	font-weight:100;

}

a.arrow {
	display:inline-block;
	width:40px;
	height:40px;
	color:#FFF;
	font-size:35px;
	text-shadow:
	   -2px -2px 0 #708197,
	    2px -2px 0 #708197,
	    -2px 2px 0 #708197,
	     2px 2px 0 #708197;
}

a.arrow:hover {
	color:#b7bcda;
}

div.form-wrapper {
	margin-top:30px;
	width:500px;
	margin:auto;
}

div.monster-selection {
	margin-top:10px;
	margin-bottom:50px;
	border:1px solid #CCC;
	padding-bottom:30px;
	border-radius:20px;
}

div.monster-selection::after {
	content:"";
	display:table;
	clear:both;
}

div.top {
	width:100%;
	height:30px;
}

div.left {
	display:inline-block;
	width:30px;
	height:300px;
	line-height:300px;
	vertical-align: middle;
}

div.monster {
	display:inline-block;
	height:300px;
	width:50%;
	line-height:300px;
	vertical-align: middle;
	box-sizing:border-box;
	padding-top:10px;
}

div.down {
	width:100%;
	height:30px;
}

div.right {
	display:inline-block;
	width:30px;
	vertical-align: middle;
	height:300px;
	line-height:300px;
}

div.monster img {
	display:inline;
}

span.green {
	color:#c6d6ec;
}

.container {
	margin-top:50px;
}

input[type="text"] {
	color:#555;
	text-align:center;
	margin-top:10px;
	padding:0px 30px;
	font-size:25px;
	color:#333;
	font-family:Roboto, Arial;
	font-weight:100;
	width:100%;
	border:1px solid #ccc;
	border-radius:20px;
	background:#FFF;
	height:40px;
	box-sizing:border-box;
}

.color-palette {
	width:100%;
	margin-top:10px;
	border:1px solid #CCC;
	border-radius:20px;
	padding:20px;
	margin-bottom:50px;
}

.color {
	display:inline-block;
	width:45px;
	height:45px;
	border-radius:8px;
	margin:0px 5px 0px 5px;

}

.create-button {
	font-weight:100;
	background:#00D0F3;
	padding:10px 40px;
	text-transform: uppercase;
	border-radius:8px;
	font-family:Roboto;
	color:#FFF;
	text-decoration:none;
	font-size:25px;
}

.monster-background {
	height:300px;
	width:200px;
	margin:auto;
}
